html,
body,
.app {
  height: 100vh;
  background: #B019B4;  
}

.header-info {
  display: flex;
  
  vertical-align: middle;
}

.messages {
  height: 55vh;
  overflow-y: scroll;  
}

.message__form {
  position: fixed !important;
  bottom: 1em;
  margin-left: 320px !important;
  right: 1em;
  z-index: 200;
}

.message__self {  
  display: flex;
  flex-direction: row-reverse;  
}

.message__self__ext {
  display: flex;
  flex-direction: row-reverse;  
  margin-top: 0 !important;
  padding-top: 0 !important;
}

.message__image {
  padding: 1em;
}

.edit-button {
  opacity: 0 !important;
}

.edit-button:hover {
  opacity: 1 !important;
}

.user-card {
  display: flex;
  flex-direction: row !important;
  min-width: 99%;
}